/ML_ENV

# NOTE: 2
03_Naive_Bayes/Sentiment_Analysis/IMDB Dataset.csv

#NOTE: 3
04_Logistic_Regression/adult.csv

#NOTE: 4
05_DecisionTree/social_network_5_features.csv

#NOTE: 5
05_DecisionTree/Social_Network_Ads.csv